* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}


button {
    margin-bottom: 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(220, 53, 69, 0.2);
}

.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #eee;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.bad {
    color: #dc3545;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 8px;

}

.ok {
    color: #28a745;
    background-color: #e6ffe6;
    padding: 10px;
    border-radius: 8px;
}
